body {
  margin: 2em;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #dafdf5;
}

.main_div {
  width: 37rem;
  height: 45rem;
  background-color: #c2fcee;
}
.navbar {
  background-color: #046c7a;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1rem;
}
h2 {
  font-family: Georgia, Georgia, "Times New Roman", Times, serif;
  color: white;
}
.ans_div {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 2rem;
}
.unit_div1 {
  align-items: center;
  justify-content: center;
  display: flex;
}
.unit_div2 {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 2rem;
}
.from_div {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 2.5rem;
  margin-left: -200px;
}
h5 {
  font-size: smaller;
}
.type_div {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 2rem;
}
.convert_div {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 2rem;
  /* padding: 13em; */
}
.btn_convert {
  /* padding: 30rem; */
  background-color: #046c7a;
  border: 4px solid #046c7a;
}
