/* body {
  margin: 10em;
  padding: 0;
  box-sizing: border-box;
  background-color: #dafdf5;
} */

.main_div {
  background-color: #c2fcee;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-around;
  align-items: center;
  margin: 12em;
  /* 
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 150px);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 4em; */
}
.div1 {
  height: 100px;
  width: 450px;

  background-color: #046c7a;
  align-items: center;
  justify-content: center;
  display: flex;
  color: antiquewhite;
}
.div2 {
  height: 100px;
  width: 850px;
  background-color: #046c7a;
  align-items: center;
  justify-content: center;
  display: flex;
  color: antiquewhite;
}

.div3 {
  height: 100px;
  width: 450px;

  background-color: #046c7a;
  align-items: center;
  justify-content: center;
  display: flex;
  color: antiquewhite;
}
